codecov.yml
deployment/
docs/
grafana/
hack/
LICENSE
Makefile
PROJECT
README.md
config.json

test/
vendor/

bin/
.devcontainer/
.git/
.github/
.claude

.idea
.vscode
.env
.env.*
**/.idea
**/.vscode
**/.env
**/.env.*
**/*.swp
**/tmp
**/*.log
**/*.bak

cover.txt
coverage.txt
.golangci.yml
