codecov.yml
deployment/
docs/
grafana/
hack/
LICENSE
Makefile
PROJECT
README.md
config.json

test/
vendor/

**/.git
**/.github
**/.idea
**/.vscode
**/.env
**/.env.*
**/*.swp
**/tmp

**/*.log
**/*.bak
**/bin/
